input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.btn-default {
	background-color:#f5f5f5;
}
.container {
	margin: 50px 0 0 0;
}
.success {
	color: green;
}
.error {
	color: red;
}
#mathAnswersWrapper {
	margin: 50px 0 0 0;
	border:1px solid #ccc;
	width: 200px;
	height: 200px;
	float:right;
	bottom:0;
}
#mathAnswers {
	overflow: auto;
	height: 157px;
}
#quoteWrapper {
	margin: 20px 0 20px 0;
	padding: 5px 10px;
	border:1px solid #ccc;
	border-radius: 3px;
	height: 125px;
}